<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="icon" href="../../img/x-thumbnail.png">
    <link rel="stylesheet" href="../../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script type="application/javascript" src="../../JS/validateServiceForm.js"></script>
    <script type="application/javascript" src="../../JS/validationCommon.js"></script>
</head>
<body>
    <%- include('../../fragments/header.ejs') %>
    <div class="main-container">
        <h1 class="title"><%= pageTitle %></h1>
        <form action="<%= formAction %>" method="post" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= service._id %>">
            <div class="input">
                <label for="name">Service:</label>
                <input type="text" name="name" id="name" value="<%= service.name %>" required placeholder="Haircut" 
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorName" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </span>
            </div>
            <div class="input">
                <label for="time">Time:</label>
                <input type="number" name="time" id="time" value="<%= service.time %>" required placeholder="minutes"
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorTime" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('time'))) { %>
                        <%= validationErrors.find(e => e.path.includes('time')).message %>
                    <% } %>
                </span>
            </div>
            <div class="input">
                <label for="price">Price:</label>
                <input type="number" name="price" id="price" value="<%= service.price %>" required placeholder="PLN"
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorPrice" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('price'))) { %>
                        <%= validationErrors.find(e => e.path.includes('price')).message %>
                    <% } %>
                </span>
            </div>
            <div class="buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="button" class="secondary-button" value="Back" onclick="history.go(-1)" formnovalidate>
                <% if (formMode == 'details') { %>
                    <button class="main-button"><a href="../edit/<%= service._id %>">Edit</a></button>
                <% } else { %>
                    <input class="main-button" type="submit" value="Submit" />
                <% } %>
            </div>
        </form>
    </div>
    <% if (formMode == 'details') { %>
    <div class="main-container">
        <h1 class="title">Service appointments</h1>
        <table class="form-table">
            <thead>
                <th>Client</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% for (let apps of service.appointments) { %>
                <tr>
                    <td><%= apps.client.name %></td>
                    <td><%= apps.client.phone %></td>
                    <td><%= apps.date instanceof Date ? apps.date.toISOString().split('T')[0]:apps.date %></td>
                    <td>
                        <button class="delete-button"><a href="./services/delete/apps.service._id%>">Delete</a></button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } %>
</div>
    <%- include('../../fragments/footer.ejs') %>
</body>
</html>