<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="icon" href="../../img/x-thumbnail.png">
    <link rel="stylesheet" href="../../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script type="application/javascript" src="../../JS/validateClientForm.js"></script>
    <script type="application/javascript" src="../../JS/validationCommon.js"></script>
</head>
<body>
    <%- include('../../fragments/header.ejs') %>
    <div class="main-container">
        <h1 class="title"><%= pageTitle %></h1>
        <form action="<%= formAction %>" method="post" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= r_client._id %>">
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="<%= r_client.name %>" required placeholder="Name Surname" 
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorName" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </span>
            </div>
            <div class="input">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" value="<%= r_client.email %>" required placeholder="example@gmail.com"
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorEmail" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                        <%= validationErrors.find(e => e.path.includes('email')).message %>
                    <% } %>
                </span>
            </div>
            <div class="input">
                <label for="phone">Phone number:</label>
                <input type="tel" name="phone" id="phone" pattern="[0-9]{9}" value="<%= r_client.phone %>" required placeholder="123456789"
                <%= (formMode == 'details') ? 'disabled' : '' %>/>
                <span id="errorPhone" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('phone'))) { %>
                        <%= validationErrors.find(e => e.path.includes('phone')).message %>
                    <% } %>
                </span>
            </div>
            <div class="buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <a class="secondary-button" href="/clients">Back</a>
                <% if (formMode == 'details') { %>
                    <a class="main-button" href="../edit/<%= r_client._id %>">Edit</a>
                <% } else { %>
                    <input class="main-button" type="submit" value="Submit" />
                <% } %>
            </div>
        </form>
    </div>
    <% if (formMode == 'details') { %>
    <div class="main-container">
        <h1 class="title">Clients appointments</h1>
        <table class="form-table">
            <thead>
                <th>Service</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% for (let apps of r_client.appointments) { %>
                <tr>
                    <td><%= apps.service.name %></td>
                    <td><%= apps.service.price %></td>
                    <td><%= apps.date instanceof Date ? apps.date.toISOString().split('T')[0]:apps.date %></td>
                    <td>
                        <a class="delete-button" href="./clients/delete/<%= r_client._id%>">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } %>
</div>
<%- include('../../fragments/footer.ejs') %>
<script src="../../JS/script.js"></script>
</body>
</html>