<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="icon" href="../../img/x-thumbnail.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <%- include('../../fragments/header.ejs') %>
    <main>
        <div class="main-container">
            <h1 class="title">Appointments</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Phone number</th>
                    <th>Service</th>
                    <th>Data</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <% for (let app of apps) { %>
                    <tr>
                        <td><%= app.client.name %></td>
                        <td><%= app.client.phone %></td>
                        <td><%= app.service.name %></td>
                        <td><%= app.date instanceof Date ? app.date.toISOString().split('T')[0]:app.date %></td>
                        <td>
                            <button class="details-button"><a href="./clients/details/<%= app.client._id%>">Details</a></button>
                            <button class="edit-button"><a href="./clients/edit/<%= app.client._id%>">Edit</a></button>
                            <button class="delete-button"><a href="./clients/delete/<%= app._id%>">Delete</a></button>
                        </td>
                    </tr>
                </tbody>
                <% } %>
            </table>
        </div>
        <div class="booking">
            <h2>Book new appointment</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quia officiis vitae voluptatum maiores atque dolorum eveniet, quod laboriosam animi, molestiae ullam eaque maxime tempora nobis! Recusandae pariatur eum molestiae.</p>
            <button class="main-button"><a href="./appointments/add">Book now!</a></button>
        </div>
    </main>
    <div class="wave-footer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#273036" stroke="transparent" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,197.3C480,203,600,245,720,250.7C840,256,960,224,1080,218.7C1200,213,1320,235,1380,245.3L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
    </div>
    <%- include('../../fragments/footer.ejs') %>
    <script src="../JS/script.js"></script>
</body>
</html>